<h1>StaticPage#team</h1>
<p>Find me in app/views/static_page/team.html.erb</p>
<body>
<h2>Voici notre équipe mego lol mdr xptdr 😇❤️😻 </h2>
<pre>       __
 __   (__`\
(__`\   \\`\
 `\\`\   \\ \
   `\\`\  \\ \
     `\\`\#\\ \#
       \_ ##\_ |##
       (___)(___)##
        (0)  (0)`\##
         |~   ~ , \##
         |      |  \##
         |     /\   \##         __..---'''''-.._.._
         |     | \   `\##  _.--'                _  `.
         Y     |  \    `##'                     \`\  \
        /      |   \                             | `\ \
       /_...___|    \                            |   `\\
      /        `.    |                          /      ##
     |          |    |                         /      ####
     |          |    |                        /       ####
     | () ()    |     \     |          |  _.-'         ##
     `.        .'      `._. |______..| |-'|
       `------'           | | | |    | || |
                          | | | |    | || |
                          | | | |    | || |
                          | | | |    | || |     
                    _____ | | | |____| || |
                   /     `` |-`/     ` |` |
                   \________\__\_______\__\
                    """""""""   """""""'"""
  </pre></body>

