<h1>Bienvenue sur Gossips on Rails!!!</h1>

<h2>Retrouvez tous les potins de THP</h2>

<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Type your name in" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Connection</button>
    </form>

<body>Il faudrait afficher les gossips_list et les users ici
<%= @time %>
<%=  %>
</body>